<div class="blog-form-container">
  <form [formGroup]="blogForm" (ngSubmit)="saveBlog()">
    <div class="form-group">
      <label for="text">Text</label>
      <textarea
        id="text"
        formControlName="text"
        class="form-control"
      ></textarea>
      <div *ngIf="blogForm.controls['text'].errors && blogForm.controls['text'].touched" class="error">Text is required.
      </div>
    </div>
    <div class="form-buttons">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancelForm()">Cancel</button>
    </div>
  </form>
</div>


